#main-content {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  height: calc(100vh - 78px);
  
}

#user-list {
  grid-column: 9 / span 3;
  grid-row: 1/1; 
}

#posts {
  grid-column: 1/ span 8;
  grid-row: 1/1;
  
    
}
ul#post-list {
  list-style: none;
  width:100%;

  margin: auto;
  margin-top: 10px;
}

.post-header {
  background-color: red;
  height: 20px;
  width: 80%;
  color: white;
  display: flex;
  display-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.post-content {
  border: red 1px solid;
  border-top: none;
}

#post-form {
    
}
