#main-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#user-list {
  grid-column: 9 / span 3;
    
}

#posts {
  grid-column: 1/ span 8;
}

#post-list {
  grid-column: 1/ span 8;
  grid-row: 2/span 2;
}

#post-form {
  grid-column: 1/ span 8;
}
