{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<h1>
  Hello {{ current_user.name }}!
</h1>

<form action="/posts" method="POST">
  <input name="content" placeholder="Say something nice!" />
  <input type="submit" />
</form>


Here is the list of users:
<ul>  
{% for user in users %}
    <li>{{ user.name }}</li>
{% endfor %}
</ul>

Here is the list of all the posts:
<ul>
{% for post in posts %}
    <li>{{ post.author_name }}, at :{{ post.content }}</li>
{% endfor %}
</ul>
{% endblock %}