{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/wall.css" />
{% endblock %}

{% block content %}
<main id="main-content">

<form action="/posts/" method="POST" id="post-form">
  <input name="content" placeholder="Say something nice!" />
  <input type="submit" />
</form>


<section id="user-list">
  Here is the list of users:
  <ul>  
  {% for user in users %}
      <li>{{ user.name }}</li>
  {% endfor %}
  </ul>
</section>

<section id="post-list">
  <ul>
  {% for post in posts %}
      <li>{{ post.author_name }}, at {{ post.date }} said: <br/>
        {{ post.content }}
      </li>
  {% endfor %}
  </ul>
</section>  
</main>
{% endblock %}