{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/wall.css" />
{% endblock %}

{% block content %}
<main id="main-content">



<section id="user-list">
  Here is the list of users:
  <ul>  
  {% for user in users %}
      <li>{{ user.name }}</li>
  {% endfor %}
  </ul>
</section>

  
<section id="posts">
  <form action="/posts/" method="POST" id="post-form">
    <input name="content" placeholder="Say something nice!" />
    <input type="submit" />
  </form>

  
  <ul id="post-list">
  {% for post in posts %}
      <li class="post">
        <div class="post-header">
          <span class="post-author">
            {{ post.author_name }}
          </span>
          <span class="post-date">at {{ post.date }}</span>
        </div>
        <div class="post-content">
           {{ post.content }}
        </div>
      </li>
  {% endfor %}
  </ul>
  
</section>
  
</main>
{% endblock %}