<!DOCTYPE html>
<html>
  <head>
    <title>MSN</title>
    <meta name="description" content="My Social Network">
    <meta charset="utf-8">
    {% block head %}{% endblock %}
  </head>
  <body>
    <h1 id="header">
      <a href="/">My Social Network</a>
    </h1>
      <nav>
        {% if current_user.is_authenticated %}
          <div><span>{{ current_user.email }}</span>
          &ndash;<a href="{{ url_for('logout') }}">Log out</a>
        </div>
        {% else %}
          <a href="{{ url_for('register_get') }}">Register</a>
        {% endif %}
    </nav>
      {% block content %}
      {% endblock content %}
  </body>
</html>

